[submodule "recursion_project"]
	path = recursion_project
	url = https://github.com/brianhvo02/recursion_project.git
[submodule "recap_exercises_1"]
	path = recap_exercises_1
	url = https://github.com/brianhvo02/recap_exercises_1.git
[submodule "recap_exercises_2"]
	path = recap_exercises_2
	url = https://github.com/brianhvo02/recap_exercises_2.git
[submodule "recap_exercises_3"]
	path = recap_exercises_3
	url = https://github.com/brianhvo02/recap_exercises_3.git
